@page "/Capitals"

<div class="container">
  <div class="jumbotron">
    <h1>Captials of Skyrim</h1>      
    <p>These are the capitals of the nine holds of Skyrim</p>
  </div>
</div>

@code {
    
}