@page "/"

<div class="jumbotron jumbotron-fluid">
    <div class="container jumbo-item">
       <h1 class="display-4 jumbo-item">The Elder Scrolls: Skyrim</h1>
       <p class="jumbo-item">The Nine Holds of Skyrim and their Capitals</p>
    </div>
</div>
