
*[b-4v21z4o3z7] {
    background-color: #292B2F;
}

.banner[b-4v21z4o3z7] {
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.main[b-4v21z4o3z7] {
    padding-bottom: 50px;
}

.jumbo-item[b-4v21z4o3z7] {
    color: #BBAA92;
}

.cardItem[b-4v21z4o3z7] {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}