.btn {
    border-color: black;
    background-color: #648FAD;
    color: #292B2F;
}

.card {
    background-color: #BBAA92;
}

.card-link {
    color: #292B2F;
}

.card-link:hover {
    text-decoration: underline;
    color: #648FAD;
}