@page "/Holds"

@namespace BlazorApp.Pages.Holds

<div class="banner">
  <h1 class="display-4 jumbo-item">Holds of Skyrim</h1>      
  <p class="jumbo-item">These are the nine holds of Skyrim:</p>  
</div>


<div class="container-fluid main">
  <div class="row">
    @foreach (HoldModel item in HoldData)
    {
      <div class="cardItem mr-auto ml-auto">
        <HoldComponent Hold="@item"></HoldComponent>  
      </div>
    }
  </div>  
</div>

<br/>



