*[b-dfup7ivfyb] {
    background-color: #292B2F;
}

.banner[b-dfup7ivfyb] {
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.jumbo-item[b-dfup7ivfyb] {
    color: #BBAA92;
}

.cardItem[b-dfup7ivfyb] {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}