@inherits LayoutComponentBase

<PageTitle>Skyrim Holds</PageTitle>

<div>
    <Navbar></Navbar>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>