<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" href="/">
        <img src="images/Marker.png" alt="" width="25" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="Holds">Holds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="Capitals">Capitals</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Official Sources
                </a>
                <div class="dropdown-menu text-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-dark" href="https://elderscrolls.bethesda.net/en/skyrim" target="_blank">Skyrim Homepage</a>
                    <a class="dropdown-item text-dark" href="https://elderscrolls.bethesda.net/en/" target="_blank">Elder Scrolls Homepage</a>
                    <a class="dropdown-item text-dark" href="https://store.steampowered.com/app/489830/The_Elder_Scrolls_V_Skyrim_Special_Edition/" target="_blank">Steam Store Page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-dark" href="https://elderscrolls.fandom.com/wiki/The_Elder_Scrolls_Wiki" target="_blank">Fandom</a>
                    <a class="dropdown-item text-dark" href="https://en.uesp.net/wiki/Main_Page" target="_blank">Wiki</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav me-6 mb-lg-0">
            <li class="nav-item">
                <a class="navbar-brand nav-link" target="_blank" href="https://github.com/Deren-Web-Development-Projects">
                    <img src="images/github-mark-white.svg" alt="" width="35" height="35">
                    GitHub
                </a>
            </li>
        </ul>
    </div>
</nav>