/* _content/BlazorApp/Components/Coverpage.razor.rz.scp.css */
/* _content/BlazorApp/Pages/Holds/Holds.razor.rz.scp.css */

.jumbotron[b-4v21z4o3z7] {
    background-color: aqua;
    margin-top: 10px;
}

.cardItem[b-4v21z4o3z7] {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
/* _content/BlazorApp/Shared/Navbar.razor.rz.scp.css */
*[b-6vlijaxr9c] {
    background-color: #404244;
    color: #AAC9E2
}
